/* Font Styles */
h1{
    font-family:  "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 0;
    padding: 0;
}

h2{
    font-family:  "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

h3, h4, h5, h6{
    font-family:  "Concert One", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;
}

p{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
}

a{
    font-family:  "Concert One", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* Page Structure Containers */

body{
    background-color: darkgray;
    width: auto;
    margin: 0;
    padding: 0;
}

div{
    margin: 0;
    padding: 0; 
}

.page-container{
    text-align: center;
    width: 100%;
}

.header-container{
    background-color: cornflowerblue;
    text-align: center;
    height:80px;
    min-width: 350px;
    padding: 10px 0;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.main-container{
    background-color: orchid;
    width: 100%;
    min-width: 350px;
    padding-bottom: 10px;
}

.main-title-container{
    background-color: aqua;
    width: 75%;
    padding: 10px 0;
    position: relative;
    left: 12.5%;
}

.main-text-container{
    background-color: white;
    width: 75%;
    padding: 10px 0;
    position: relative;
    left: 12.5%;
}

.footer-container{
    background-color: cornflowerblue;
    text-align: center;
    height:25px;
    min-width: 350px;
    padding: 10px 0 0 0;
    position: sticky;
    bottom: 0px;
    z-index: 1;
}

/* Nav Menu */
.nav-container{
    background-color: cornflowerblue;
    min-width: 350px;
    position: sticky;
    top: 100px;
    z-index: 1;
}

.main-menu-top-level{
	margin:0;
	padding:0px;
    height: 40px;
	width: auto;
    border:solid navy;
	border-width:0 0 3px 0;
}

.main-menu-top-level li {
	display:inline;
}

.main-menu-top-level a:link, a:visited {
    color: white;
    background: cornflowerblue;
    padding:0px 20px 10px 20px;
	width:auto;
    text-decoration: none;
}